{% extends "base/main.html" %}


{% block page_title %}
{% if listing %}editing listing for: {{ shows[listing.show-1].title }}{% else %}{{ super() }}{% endif %}
{% endblock %}

{% block body %}
{{ status }}
<form method="POST">
	{% if not listing %}
	show <a href="{{ url_for("show.add") }}"><img src="{{ url_for("static", filename="imgs/add.png") }}"/></a>:
	<select name="show">
		<option value="0">---</option>
		{% for sh in shows %}
			<option value="{{ sh.id }}" {% if sh.id|int == show|int %}selected{% endif %}>{{ sh.title }}</option>
		{% endfor %}
	</select>
	{% endif %}
	category{% if not listing %} <a href="{{ url_for("category.add") }}"><img src="{{ url_for("static", filename="imgs/add.png") }}"/></a>{% endif %}:
	<select name="category">
		<option value="0">---</option>
		{% for cat in categories %}
			<option value="{{ cat.id }}" {% if cat.id|int == category|int %}selected{% endif %}>{{ cat.name }}</option>
		{% endfor %}
	</select>
	episode:
	<input type="text" name="episodes" placeholder="#" {% if listing %}value="{{ listing.episodes }}"{% endif %}/>
	rating:
	<select name="rating">
		{% for i in range(1, 11)[::-1] %}
			<option value="{{ i }}" {% if listing %}{% if i == listing.rating %}selected{% endif %}{% else %}{% if i == 5 %}selected{% endif %}{% endif %}>{{ i }}: {{ ratings[i] }}</option>
		{% endfor %}
	</select>
	<button>{% if listing %}update{% else %}create{% endif %}</button>
</form>
{% endblock %}