{% extends "base/main.html" %}

{% block head %}
<script src="{{ url_for("static", filename="js/calendarDateInput.js") }}"></script>
{% endblock %}

{% block page_title %}
{% if show %}editing show: {{ show.title }}{% else %}{{ super() }}{% endif %}
{% endblock %}

{% block body %}
{{ status }}
<form method="POST">
	{% if show %}{% else %}<input type="text" name="title" placeholder="title"/>{% endif %}
	<textarea name="description" placeholder="description">{% if show and show.description %}{{ show.description }}{% endif %}</textarea>
	<input type="text" name="total" placeholder="#" value="{% if show and show.total %}{{ show.total }}{% endif %}"/>
	begin: <script>DateInput('begin_date', false, "DD-MM-YYYY");</script>
	end: <script>DateInput('end_date', false, "DD-MM-YYYY");</script>
	<button>{% if show %}update{% else %}create{% endif %}</button>
</form>
{% endblock %}