{% extends "base/main.html" %}
{% block links %}
<!-- <a class="increment" href="{{ url_for("listings.increment", id="s" + show.id|string) }}">
	<img src="{{ url_for("static", filename="imgs/add.png") }}"/>
</a> --> <!-- only display if show exists in listings -->
<a class="edit" href="{{ url_for("show.edit", id=show.id) }}">
	<img src="{{ url_for("static", filename="imgs/pencil.png") }}"/>
</a>
<a class="remove" href="{{ url_for("show.remove", id=show.id) }}">
	<img src="{{ url_for("static", filename="imgs/delete.png") }}"/>
</a>
{% endblock %}
{% block page_title %}
show: {{ show.title }}
{% endblock %}
{% block body %}
{% if empty %}
no info
{% else %}

{% if show.description %}
<div class='entry'>description: {{ show.description }}</div>
{% endif %}
{% if show.begin_date %}
<div class='entry'>began: {{ show.begin_date }}</div>
{% endif %}
{% if show.end_date %}
<div class='entry'>ended: {{ show.end_date }}</div>
{% endif %}
{% if show.total %}
<div class='entry'>total episodes: {{ show.total }}</div>
{% endif %}

{% endif %}
{% endblock %}